img {
    height: 200px;

}

h1 {
    display: flex;
    font-size: 60px;
    justify-content: center;
    position: sticky;
}

.grid
{
    width: 800px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
}

body {
    background: linear-gradient(to right, hsl(51, 100%, 82%), hsl(66, 86%, 67%), hsl(69, 88%, 62%), hsl(103, 96%, 78%));
}